/* Navigation bar */

.px-10 {
    padding-left: 10%;
    padding-right: 10%;
}

.brand-logo {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 120px;
    transform: scale(1.92);
    transition: all .4s ease-in-out;
}

.header-logo {
    left: 0;
    right: 0;
    top: 20px;
    text-align: center;
}