.main {
    padding-top: 112px;
    min-height: 650px;
}

.cntr-abs-horz {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.product-list-item .btn-quickview, .product-list-item .btn-add-to-cart {
    transform: translateY(-150%);
    margin: 0 0.5em;
    visibility: hidden;
}

.product-list-item:hover .btn-quickview, .product-list-item:hover .btn-add-to-cart {
    visibility: visible;
}