.main {
    padding-top: 112px;
    min-height: 650px;
}

.cntr-abs-horz {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
}

.translateY-150 {
    transform: translateY(-150%);
}

.product-list-item {
    padding-top: 30px;
    padding-bottom: 30px;
    border-style: none;
}

.product-list-item:hover .invisible {
    visibility: visible !important;
}

.product-actions {
    padding: 0 !important;
    border-top: 0 !important;
    background-color: #fff !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-breadcrumb {
    padding-top: 2em;
    background-color: white;
}
