/* Layout position control */

.right-bottom {
    right: 0;
    bottom: 0;
}

.absolute-align-right-vertical-center {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.section-title {
    margin-top: 20px;
}

/* Element size */
.sort {
    padding-bottom: .5em;
}

.filter-heading {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.page-black-link {
    margin: 0 3px;
    color: black;
    border: 1px solid;
    border-radius: 0.25rem;
}

.page-item.active .page-black-link {
    background-color: black;
    color: white;
}

.page-link:hover {
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: black;
}

/* Custome component */

.card-plain {
    border: 0;
    padding-bottom: 30px;
}

.card-content {
    padding: 15px 5px 0;
}

/* Visibility */

/* Font size */

.fz-1rem {
    font-size: 1rem;
}

.small-text {
    font-size: small;
}

/* Color */

.filter a[aria-expanded="true"] {
    color: #E40037;
}

/* Animation */
.filter a[aria-expanded="true"] i {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.filter i {
    -webkit-transition: all 150ms ease 0s;
    -moz-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
}