/* Layout position control */

.right-bottom {
    right: 0;
    bottom: 0;
}

.absolute-align-right-vertical-center {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.translateY-150 {
    transform: translateY(-150%);
}

.section-title {
    margin-top: 20px;
}

/* Element size */
.sort {
    padding-bottom: .5em;
}

.filter-heading {
    display: flex;
    border-bottom: 1px solid #ddd;
}

.product-list-item {
    padding-top: 30px;
    padding-bottom: 30px;
    border-style: none;
}

.product-actions {
    padding: 0 !important;
    border-top: 0 !important;
    background-color: #fff !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Custome component */

.card-plain {
    border: 0;
    padding-bottom: 30px;
}

.card-content {
    padding: 15px 5px 0;
}

/* Visibility */

.product-list-item:hover .invisible {
    visibility: visible !important;
}

/* Font size */

.fz-1rem {
    font-size: 1rem;
}

.small-text {
    font-size: small;
}

/* Color */

.filter a[aria-expanded="true"] {
    color: #E40037;
}

/* Animation */
.filter a[aria-expanded="true"] i {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.filter i {
    -webkit-transition: all 150ms ease 0s;
    -moz-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
}