/* Layout position control */

.right-bottom {
    right: 0;
    bottom: 0;
}

.absolute-align-right-vertical-center {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.section-title {
    margin-top: 20px;
}

/* Element size */

/* Font size */

.fz-1rem {
    font-size: 1rem;
}

.small-text {
    font-size: small;
}

/* Color */
.panel a {
    color: #3C4858;
}

.panel a[aria-expanded="true"] {
    color: #E40037;
}

/* Animation */
.panel a[aria-expanded="true"] i {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.panel i {
    -webkit-transition: all 150ms ease 0s;
    -moz-transition: all 150ms ease 0s;
    -o-transition: all 150ms ease 0s;
    -ms-transition: all 150ms ease 0s;
    transition: all 150ms ease 0s;
}